body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
//header for large Screens(Navigation):


//Mobile
@media screen and (max-device-width:599px)
{
    header{
        background-color: rgb(252, 247, 239);

        .screen-lg{
            display: none;
        }
        .screen-sm{
            display: flex;
            justify-content: space-around;
    
            .logo-text{
                color: rgb(23, 141, 209);
            }
            svg{
                margin-top: 1em;
            }
        }
    }
    
}

//Tablets
@media screen and (min-device-width:800px) and (max-device-width:900px)
{

}

//LargeScreens
@media screen and (min-device-width:600px)
{
    header{
        background-color: rgb(252, 247, 239);
        height: 100vh;
        .screen-lg{
            display: flex;
            justify-content: space-between;
            margin: 0em 5em;
    
            .logo-text{
                color: rgb(23, 141, 209);
                margin-top: 1.4em;
            }
            ul{
                list-style: none;
                li{
                    float: left;
                    padding: 0 0.9em;
                    margin-top: 0.3em;
                    a{
                        text-decoration: none;
                        color: gray;
                    }
                }
                .sign-in{
                    display: flex;
                    border: 0;
                    outline: 0;
                    padding: 0.3em 0.6em 0.2em 0.6em;
                    font-size: 0.5em;
                    background:rgb(23, 141, 209) ;
                    border-radius: 0.25em;
                    svg{
                        margin-top: 0.4em;
    
                    }
                    p{
                        padding: 0 0.8em;
                        text-align: center;
                        color: white;
                    }
                }
            }
        }
    
        .screen-sm{
            display: none;
        }
    }

    #hero{
        margin-top: 5em;
        display: flex;
        justify-content: space-around;
        h1{
            font-size: 3rem;
        }
        p{
            font-size: 1.5rem;
            color: gray;
        }
        img{
            max-width: 50vw;
            max-height: 60vh;
            padding-bottom: 3em;
        }

        .hero-text-section{
            margin-top: -3em;
        }
        .flex-here{
            display: flex;
            .sign-in{
                display: flex;
                border: 0;
                outline: 0;
                padding: 0.3em 0.6em 0.2em 0.6em;
                background:rgb(23, 141, 209) ;
                border-radius: 0.25em;
                svg{
                    margin-top: 0.8em;
                }
                p{
                    padding: 0 0.8em;
                    text-align: center;
                    color: white;
                    font-size: 0.8rem;
                }
            }
            a{
                margin-left: 3em;
                margin-top: 0.8em;
                text-decoration: none;
                color:rgb(23, 141, 209) ;
            }
        }

        .images{
            margin-left: 1em;
            img{
                margin-left: -1.5em;
            }
        }

        .join-text{
            margin-top: -1em;
            span{
                color: rgb(23, 141, 209);
                font-weight: bold;
            }
        }
    }
}